
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.wrapper {
	width: 100%;
}

header.site-header {
	grid-column: full;
}

.site-branding {
	display: -webkit-box;
	display: flex;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1.75em;
	line-height: 1;
}

.site-title {
	align-self: flex-end;
	margin: 0 1em 0 1.75em;
	font-weight: 600;
}

h1.site-title {
	margin-left: 1.75em;
}

.site-description {
	align-self: flex-end;
	margin: 0 0 2px;
	font-size: .575em;
	font-weight: 300;
	color: #222;
}

nav.main-navigation {
	grid-column: gutter1;
}

main.site-main {
	grid-column: main;
}

article.post {
	grid-column: main;
	margin: 0 auto 5em;
}

.wp-block-image.alignfull {
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}

h2.entry-title {
	margin-top: 0;
}

.entry-footer {
	padding: 1em 3em 1.25em 0;
	border-bottom: 1px solid #ddd;
}

.post:last-of-type .entry-footer {
	border-bottom: none;
}

.single .entry-footer,
.single .post-navigation {
	background: #fbfbfb;
	padding-top: 1em;
	padding-bottom: 1.25em;
	padding-left: 250px;
	margin-left: -250px;
}

.single .post-thumbnail {
	margin-right: calc((-1 * ((100vw / 2) - 125px ) ) + 50%);
	margin-bottom: 2em;
	max-width: 1200px;
}

.single .post-navigation {
	padding-top: 2.5em;
}

.single .entry-footer {
	border-bottom: none;
	padding-bottom: 0;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
	display: block;
}

aside.widget-area {
	grid-column: full;
	width: 100%;
	display: -webkit-box;
	display: flex;
}

footer.site-footer {
	grid-column: full;
}

.site-footer {
	height: 5em;
	padding-top: 2em;
	line-height: 1;
	justify-self: center;
	background: #333;
	width: 100%;
	color: #fff;
	font-weight: 300;
}

.site-footer .site-info {
	width: 640px;
	margin: 0 auto;
	text-align: center;
}

.widget-area {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #eee;
	-webkit-box-pack: center;
	justify-content: center;
}

.widget-area section {
	width: calc(100vw / 3);
	padding: 0 1em;
}

.wrapper {
	display: grid;
	grid-template-columns:
		[full-start gutter1-start] 250px
		[gutter1-end main-start] 4fr
		[main-end full-end];
}

@media screen and (max-width: 640px) {

	.wrapper {
		display: grid;
		grid-template-columns: [full-start] 100vw [full-end];
		width: 100vw;
	}

	.site-branding {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		margin-bottom: .5em;
	}

	h1.site-title,
	.site-title,
	.site-description {
		align-self: flex-start;
		margin-left: 1rem;
	}

	.site-description {
		margin-top: .25em;
	}

	nav.main-navigation {
		grid-column: full;
		margin-bottom: 1.5em;
		margin-left: 1em;
	}

	nav.main-navigation.toggled .nav-menu {
		margin-top: .5em;
		list-style: circle;
	}

	.menu-toggle {
		background: #fff;
		font-size: 1em;
		color: #1e90ff;
	}

	.toggled .menu-toggle {
		background: #1e90ff;
		color: #fff;
		font-weight: 300;
		border-color: #87ceeb #1e90ff #ccc;
	}

	main.site-main {
		grid-column: full;
	}

	article.post {
		grid-column: full;
		width: 100%;
		margin: 0 auto 5em;
		padding: 0 1em;
	}

	.entry-footer,
	.single .entry-footer,
	.single .post-navigation {
		margin-left: -1em;
		margin-right: -1em;
		padding-left: 1em;
		padding-right: 1em;
	}

	.archive .page-title {
		margin-left: 1rem;
	}

	.site-footer {
		padding-top: 1em;
	}

	.site-footer .site-info {
		width: 100%;
	}

	.site-footer .site-info .sep {
		display: block;
		font-size: 0;
		height: 1rem;
		width: 100%;
	}

	aside.widget-area {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.widget-area section {
		width: 100%;
		padding: 0 1em;
		margin: 1em 0 0;
	}
}
