{
	"extends": ["@wordpress/stylelint-config"],
	"rules": {
		"declaration-property-unit-allowed-list": null,
		"no-descending-specificity": null,
		"selector-class-pattern": [
			"^[a-z]([a-z0-9-_]+)",
			{
				"message": "Selector should use lowercase and separate words with hyphens or underscores (selector-class-pattern)"
			}
		],
		"selector-id-pattern": [
			"^[a-z]([a-z0-9-_]+)",
			{
				"message": "Selector should use lowercase and separate words with hyphens or underscores (selector-id-pattern)"
			}
		]
	}
}
