.skip-link.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.skip-link.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.type-post {
	position: relative;
	padding-top: 0.5rem;
	margin-bottom: 5rem;
}

.type-post header::after,
.type-post header::before {
	content: "";
	display: block;
	position: absolute;
	left: -2rem;
	top: -1rem;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	border-left: 1px solid;
	border-top: 1px solid;
	border-image-slice: 1;
	border-width: 2px;
}

.type-post header::after {
	height: 250px;
}

.type-post header::before {
	width: 320px;
}

.multiple .type-like,
.single .type-shortnote .entry-content,
.multiple .type-shortnote {
	background: #fcfcff;
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;
	border: 1px solid #ccc;
	margin: 0 auto 2rem;
	font-size: 1rem;
	max-width: 640px;
}

.entry-content > * {
	max-width: 640px;
	margin: 0 auto 1rem auto;
}

.type-shortnote .entry-footer a {
	font-size: 0.8rem;
	text-align: right;
}

.has-text-align-center {
	text-align: center;
}

.entry-content > figure {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.entry-content .size-large {
	max-width: 1024px;
	height: auto;
}

.entry-content figure {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.author-bio {
	display: flex;
	width: 640px;
	margin: 1rem auto 0 auto;
	justify-content: space-evenly;
}

.author-bio img {
	width: 150px;
}

.author-bio-content {
	padding: 0 1rem;
}
