
/*--------------------------------------------------------------
## Custom styles entered into Customizer at some point.
--------------------------------------------------------------*/

.postid-11687 .post-thumbnail img,
.post-11687 .post-thumbnail img {
	max-width: 500px;
}

.postid-11711 .post-thumbnail img,
.post-11711 .post-thumbnail img {
	max-width: 800px;
}

.entry-content .syntaxhighlighter table {
	max-width: 73ch !important;
	table-layout: fixed !important;
}

#webmention-form label {
	font-size: var(--global--font-size-base);
	font-weight: 400;
}

#webmention-form p:first-of-type {
	margin-bottom: var(--global--spacing-vertical);
}

.shortnotes-reply-to {
	font-style: italic;
	max-width: var(--responsive--aligndefault-width);
	margin-left: auto;
	margin-right: auto;
}

.archive-description {
	font-size: var(--global--font-size-primary);
}

.archive-description p {
	margin-bottom: var(--global--spacing-vertical);
}

.category .page-title {
	font-size: calc(var(--global--font-size-xl) * 1.25);
	font-weight: 600;
}
